/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

nav {
  display: flex;
}
h4 {
  font-style: italic;
  color: #373fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
li {
  float: left;
  padding: 10px;
}

li:hover {
  border: 1px solid #373fff;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: #373fff;
}
